@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	background: linear-gradient(
		to right,
		#85d8e6,
		#85d8e6 11.3%,
		#b3d7f2 36.24%,
		#b7bde0 81.33%,
		#baacd4
	);
	font-family: 'Poppins', sans-serif;
	font-size: 0.8rem;
}
