@font-face {
	font-family: 'Avenir-Roman';
	src: url('../fonts/Avenir-Roman.woff2') format('woff2'),
		url('../fonts/Avenir-Roman.woff') format('woff');
}

@font-face {
	font-family: 'Avenir-Black';
	src: url('../fonts/Avenir-Black.woff2') format('woff2'),
		url('../fonts/Avenir-Black.woff') format('woff');
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

html {
	font-size: 62.5%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f7f7f7;
	font-family: 'Avenir-Roman', sans-serif;
	font-size: 1.8rem;
	color: #7f8799;
}

strong,
b {
	font-family: 'Avenir-Black', sans-serif;
}

big {
	padding-top: 0.5rem;
	display: block;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

.react-icons {
	vertical-align: middle;
}

p {
	margin-bottom: 2.4rem;
}

p:last-child {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	color: #545a66;
	line-height: 1.2;
}

.title-size1 {
	font-size: 4.8rem;
	font-family: 'Avenir-Black', sans-serif;
}

.title-size2 {
	font-size: 2.6rem;
	line-height: 1.4;
}

.title-size3 {
	font-size: 3.2rem;
	font-family: 'Avenir-Black', sans-serif;
	margin-bottom: 0;
}

.title-size4 {
	font-size: 2.5rem;
	font-family: 'Avenir-Black', sans-serif;
}

.title-size5 {
	font-size: 1.8rem;
	font-family: 'Avenir-Black', sans-serif;
	color: #7f8799;
	margin-bottom: 0;
}

li {
	margin-bottom: 0.4rem;
}

li:last-child {
	margin-bottom: 0;
}
