body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Brand results fade*/

.results-fade-enter {
  opacity: 0;

}
.results-fade-enter-active {
  opacity: 1;
 
  transition: opacity 500ms, transform 300ms;
}
.results-fade-exit {
  opacity: 1;
}
.results-fade-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 300ms;
}


.result-fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.result-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.result-fade-exit {
  opacity: 1;
}
.result-fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.results-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /*justify-content: space-between; C'était presque bien !*/
  padding-bottom: 4rem;
}

.sorter{
  display:flex;
  height:6rem;
  align-items:center;
  justify-content:flex-end;
}

.sorter select{
  height:100%;
  background-color: white;
  border: 2px solid #ececec;
}

.brands-sorting,
.brands-filtering{
  border-top: 1px solid #ececec;
  margin-top:1rem;
  padding-top: 4rem;
}